<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
 
<body>
    <center>
        <form method="POST">
            <h1>Register Here</h1>
            {% csrf_token %}
            name : <input type="text" name="name" placeholder="Enter your name"><br><br>
            email : <input type="email" name="email" placeholder="Enter your email"><br><br>
            password : <input type="password" name="password" placeholder="Enter your password"><br><br>


            <button type="submit">Register</button>
        </form>
        <p style="color: red;">{{ msg }}</p>
        <a href="{% url 'login' %}">Already have an account? Login here.</a>
    </center>
</body>
</html>